In [1]:
import pandas as pd

In [2]:
# read the raw csv
df = pd.read_csv('../data/raw/all.csv')

print(df.shape)
print(df.head())

(249, 11)
             name alpha-2 alpha-3  country-code     iso_3166-2   region  \
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia
1   Åland Islands      AX     ALA           248  ISO 3166-2:AX   Europe
2         Albania      AL     ALB             8  ISO 3166-2:AL   Europe
3         Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa
4  American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania

        sub-region intermediate-region  region-code  sub-region-code  \
0    Southern Asia                 NaN        142.0             34.0
1  Northern Europe                 NaN        150.0            154.0
2  Southern Europe                 NaN        150.0             39.0
3  Northern Africa                 NaN          2.0             15.0
4        Polynesia                 NaN          9.0             61.0

   intermediate-region-code
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN

In [3]:
# select only the columns needed
df_region = df[['name', 'alpha-2', 'region', 'sub-region']]

print(df_region.shape)
print(df_region.head())

(249, 4)
             name alpha-2   region       sub-region
0     Afghanistan      AF     Asia    Southern Asia
1   Åland Islands      AX   Europe  Northern Europe
2         Albania      AL   Europe  Southern Europe
3         Algeria      DZ   Africa  Northern Africa
4  American Samoa      AS  Oceania        Polynesia

In [4]:
# save the df
df_region.to_csv('../data/interim/region.csv', index=False)